# windows
build-FardinScene-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
src/FardinScene.pro.user

# linux
src/MakeFile
FardinSceneMain
FardinSceneMain.o
FardinSceneWidget.o
FardinSceneWindow.o
Makefile
